<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Document</title>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
		
</head>
<body ng-app="miApp" ng-controller="miController">
	
	<!-- Hago una iteración de cada pregunta almacenada en mi array de preguntas -->
	<div ng-repeat="pregunta in infofirebase">
        {{pregunta.pregunta}}
        <!-- Por cada pregunta hago una iteración de cada una de sus opciones -->
        <div ng-repeat="(key, opcion) in pregunta.opciones">
            <span>{{opcion}}</span><input type="radio" ng-model="respuestasElegidas[pregunta.id]" value={{key}}>
        </div>
        <br><br>
	</div>

	<input type="button" value="enviar" ng-click="Enviar()">    
    
    <!-- Muestro el valor contenido en las variables respuestasElegidas y respuestasCorrectas -->
	<p>Respuestas elegidas : {{respuestasElegidas}}</p>
	<p>Respuestas correctas: {{respuestasCorrectas}}</p>

</body>
</html>