<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-show="sePuedeEmpezar && mostrarBotonEmpezar">
        <br><br><br><br><br>
        <input type="button" id="botonEmpezar" class="button button-block button-positive" value="EMPEZAR" ng-click="HacerPregunta()">
    </div>
    <div ng-show="!mostrarBotonEmpezar">
        <div class="card">
          <div class="item item-text-wrap pregunta">
            {{pregunta.pregunta}}
          </div>
        </div>

        <div ng-repeat="(key, opcion) in pregunta.opciones">
            <button id="respuesta" ng-class="{'button button-block button-positive opcion': acierto!=key, 'button button-block button-balanced opcion': acierto==key, 'button button-block button-assertive opcion': respuestaIncorrecta==key}" ng-click="Enviar(key)">{{opcion}}</button>
        </div>

        <!-- Muestro el valor contenido en las variables respuestasElegidas y respuestasCorrectas -->
        <div class="card">
          <p>Respuesta correcta: {{pregunta.respuesta}}</p>
          <p>Preguntas que fueron saliendo: {{preguntasHechas}}</p>
        </div>
    </div>
  </ion-content>
</ion-view>
