<ion-view view-title="Acerca de mí">
    <ion-content>
        <div class="item item-thumbnail-left">
            <img src="img/lautaro.jpg">
            <h2>Autor: Lautaro Riveiro</h2>
            <p>
                <strong>Materia:</strong> PPS
                <br>
                <strong>Curso:</strong> 4º A 2016
            </p>
        </div>

        <ion-list>
            <!--
            <ion-toggle  ng-model="settings.enableFriends">
            Enable Friends
            </ion-toggle>
            -->
            <ion-item class="item item-button-left">
                <button class="button icon ion-android-globe"></button>
                <h2>Página personal</h2>
                <p>http://lautaroriveiro.esy.es/</p>
            </ion-item>
            <ion-item class="item item-button-left">
                <button class="button icon ion-social-github"></button>
                <h2>GitHub</h2>
                <p>LautaroRiveiro</p>
            </ion-item>
            <ion-item class="item item-button-left">
                <button class="button icon ion-android-mail"></button>
                <h2>E-mail</h2>
                <p>lautaroriveiro@gmail.com</p>
            </ion-item>
        </ion-list>
        
        <div class="card">
            <div class="item item-text-wrap assertive" style="text-align: center;">
            Gracias por visitarme!!
            </div>
        </div>
    </ion-content>
</ion-view>